.select-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 120px;
 
}

.select-title {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
}

.select-content {
  width: 100%;
  padding: 6px 16px 6px 8px;
  border-radius: 24px;
  background-color: var(--input-color);
  color: var(--text-color);
  border: 1px solid transparent;
  
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
}

.select-content:hover {
  border-color: var(--text-color);
}

.select-content:focus {
  outline: none;
  border-color: var(--input-color);
}

.select-option {
  padding: 4px 4px;
  background: var(--input-color);
  color: var(--text-color);
}

