.sidebar-container{
    display: flex;
    justify-content: center;
    align-items: start;

    width: 20dvw;
    height: 100dvh;
  
    background-color:var(--second-color); 
}
.sidebar-list{

    margin-top: 5dvh;
}
.sidebar-list__item{
    list-style: none;

    display: flex;
    justify-self: center;
    align-items: center;

    gap: 12px;

    padding: 12px;
    padding-bottom: 24px;
    padding-top: 24px;

    min-width: 15dvw;

    border-radius: 12px;

    font-size: 1.2rem;

    background-color: var(--second-color);

    transition: 0.1s ease-in-out background-color;
}

.sidebar-list__item:hover{
    background-color: var(--active-color);
}
.sidebar-list__item--active{
    background-color: var(--active-color);
}

